<p-panel header="Потребители">
  <p-table [value]="users" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Имейл</th>
        <th>Лично име</th>
        <th>Фамилия</th>
        <th>Роля</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td *ngIf="currentUser!.uid !== user.uid">
          <p-dropdown id="role" [(ngModel)]="user.role" class="w-full mb-3"
                      (onChange)="changeRole(user)"
                      placeholder="Изберете роля" appendTo="body" [options]="roles"
                      optionLabel="name" optionValue="value">
          </p-dropdown></td>
        <td *ngIf="currentUser!.uid === user.uid">{{user.role}}</td>
        <td><button *ngIf="currentUser!.uid !== user.uid" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="deleteUser(user)"></button></td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
