<div id="login-panel" class="flex align-items-center justify-content-center flex-wrap">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5">
    <div class="text-center mb-5">
      <img src="assets/logo.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3"><div class="text-xs">because</div>Every hour matters!</div>
      <ng-container *ngIf="mode === 'login'">
        <span class="text-600 font-medium line-height-3">Нямате профил?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="router.navigate(['/register'])">Създайте го днес!</a>
      </ng-container>
      <ng-container *ngIf="mode !== 'login'">
        <span class="text-600 font-medium line-height-3">Имате профил?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="router.navigate(['/login'])">Влезте в него!</a>
      </ng-container>
    </div>

    <form *ngIf="mode === 'login'" [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="login-email" class="block text-900 font-medium mb-2">Имейл</label>
        <input id="login-email" type="text" placeholder="Email address" pInputText class="w-full mb-3" formControlName="email">

        <label for="login-password" class="block text-900 font-medium mb-2">Парола</label>
        <input id="login-password" type="password" placeholder="Password" pInputText class="w-full mb-3" formControlName="password">

        <div class="flex align-items-center justify-content-between mb-6">
          <!--<div class="flex align-items-center">
            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
            <label for="rememberme1" class="text-900">Remember me</label>
          </div>-->
          <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" (click)="router.navigate(['/lost-password'])">Забравена парола?</a>
        </div>

        <button type="submit" pButton pRipple label="Вход" icon="pi pi-user" class="w-full"></button>
      </div>
    </form>
    <form *ngIf="mode === 'register'" [formGroup]="registerForm" (ngSubmit)="register()">
      <div>
        <label for="register-email" class="block text-900 font-medium mb-2">Имейл</label>
        <input id="register-email" type="text" placeholder="Email address" pInputText class="w-full mb-3" formControlName="email">

        <label for="register-password1" class="block text-900 font-medium mb-2">Парола</label>
        <input id="register-password1" type="password" placeholder="Password" pInputText class="w-full mb-3" formControlName="password1">

        <label for="register-password2" class="block text-900 font-medium mb-2">Парола</label>
        <input id="register-password2" type="password" placeholder="Password" pInputText class="w-full mb-3" formControlName="password2">

        <button type="submit" pButton pRipple label="Регистрирай се" icon="pi pi-user" class="w-full"></button>
      </div>
    </form>
    <form *ngIf="mode === 'lost-password'" [formGroup]="lostPasswordForm" (ngSubmit)="lostPassword()">
      <div>
        <label for="lost-password-email" class="block text-900 font-medium mb-2">Имейл</label>
        <input id="lost-password-email" type="text" placeholder="Email address" pInputText class="w-full mb-3" formControlName="email">

        <button type="submit" pButton pRipple label="Изпрати" icon="pi pi-user" class="w-full"></button>
      </div>
    </form>
  </div>
</div>
