<p-panel [header]="getTitle()">
  <ng-template pTemplate="icons">
    <button *ngIf="event && !editMode" pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <button *ngIf="event && editMode" pButton class="p-panel-header-icon p-link" (click)="toggleEditMode()">
      <span class="pi pi-times"></span>
    </button>
    <p-menu #menu id="config_menu" [model]="editEventMenuItems" [popup]="true"></p-menu>
  </ng-template>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h5>Дата</h5>
    <p-calendar formControlName="date" dateFormat="dd-mm-yy г."
                [class.ng-dirty]="form.get('date')!.invalid && form.get('date')!.touched"></p-calendar>
    <h5>Специален ден</h5>
    <p-dropdown [options]="[{name: 'Не е', value: eventsService.SPECIAL_DAY_NONE},
                            {name: 'Болничен', value: eventsService.SPECIAL_DAY_ILLNESS},
                            {name: 'Отпуск', value: eventsService.SPECIAL_DAY_VACATION}]"
                optionLabel="name" optionValue="value" formControlName="specialDay"></p-dropdown>
    <h5>Часове</h5>
    <p-inputNumber formControlName="hours" [class.ng-dirty]="form.get('hours')!.invalid && form.get('hours')!.touched"
                   [step]="0.5" [min]="0.5" [max]="24" [showButtons]="true" [maxFractionDigits]="1"></p-inputNumber>
    <h5>Свършена работа</h5>
    <div class="p-fluid">
      <p-autoComplete formControlName="workDone" styleClass="wid100" [dropdown]="true" [class.ng-dirty]="form.get('workDone')!.invalid && form.get('workDone')!.touched"
                      [suggestions]="filteredWorkDoneStrings" field="str" (completeMethod)="filterWorkDoneString($event.query)"></p-autoComplete>
    </div>
    <h5>Причина за извънредния труд</h5>
    <div class="p-fluid">
      <p-autoComplete formControlName="reason" styleClass="wid100" [dropdown]="true" [class.ng-dirty]="form.get('reason')!.invalid && form.get('reason')!.touched"
                      [suggestions]="filteredReasonStrings" field="str" (completeMethod)="filterReasonString($event.query)"></p-autoComplete>
    </div>
    <br>
    <p *ngIf="editMode || event === null">
      <button pButton type="submit" [label]="event === null ? 'Създай' : 'Обнови'"></button>
    </p>
  </form>
</p-panel>
