/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.scss";

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.min.css";

@import "assets/layout/styles/theme/lara-light-blue/theme.css";

p-progressbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .p-progressbar {
    height: 3px;
  }
}

td.fc-day {
  position: relative;
}

td.illness-day, td.vacation-day, td.holiday {
  &::after {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom:0;
    right:0;
    z-index: 10;
    font-size: 0.8em;
  }
}

td.illness-day {
  background-color: rgba(148, 245, 147, 0.5);
  &::after {
    content: 'Болничен';
  }
}

td.vacation-day {
  background-color: rgb(255, 244, 241);
  &::after {
    content: 'Отпуск';
  }
}

td.holiday {
  background-color: lightgray;
  &::after {
    content: 'Почивен ден';
  }
}
